body {
  font-family: sans-serif;
}

#container {
  margin: 0 30px;
  background: #fff;
}

#header {
  background: #000;
  color: #fff;
  padding: 20px;
}

#header h1 {
  margin: 0;
}
#content {
  clear: left;
  padding: 60px 20px 20px 20px;
}

#content h2 {
  color: #000;
  font-size: 160%;
  margin: 0 0 .5em;
}

#footer {
  color: #666;
  text-align: center;
  border-top: 1px solid #666;
  height: 1%;
  font-size: 80%;
}
