<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {{ page.title }}
    </title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="ATOM feed" href="/feed.atom" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>Kofno</h1>
        <p>puts "#{clever_subtitle}"</p>
      </div>
      <div id="navigation">
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="https://github.com/kofno">Profile</a></li>
        </ul>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        Copyright &copy; Ryan L. Bell, 2011, 2012, 2013
      </div>
    </div>
  </body>
</html>
